<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <img src="...", class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <div class="card border-light mb-3">
      <div class="card-header">自己紹介</div>
      <div class="card-body">
        <p class="card-text"><%= @user.self_introduction %></p>
      </div>
    </div>
</div>
