<div class="row">
  <% reviews.each do |review| %>
    <div class="card mt-2 ml-3" style="width: 13rem;">
      <div class="card-header bg-white" style="height: 19rem;">
        <img class="card-img-top img-fluid rounded", width="50", height="80", src=<%= review.book.image %> alt = "">
      </div>
      <div class="card-body" style="height: 9rem;">
        <h6 class="font-weight-bold"><%= review.book.author %></h6>
        <p>『<%= review.book.title %>』</p>
      </div>
      <div class="card-footer">
        <%= link_to 'レビューを見る', review_path(review.id), class: "btn" %>
      </div>
    </div>
  <% end %>

</div>
