<% if logged_in? %>
  <header class="mb-4">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href='/'>BookReview</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mr-3"><%= link_to 'マイページ', login_path, class: 'nav-link' %></li>
          #投稿ページへのリンク
          <li class="nav-item mr-3"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %></li>
        </ul>
      </div>
    </nav>
<% else %>
  <header class="mb-4">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href='/'>BookReview</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mr-3"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
          <li class="nav-item mr-3"><%= link_to '新規登録', signup_path, class: 'nav-link' %></li>
        </ul>
      </div>
    </nav>
  </header>
<% end %>